{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'landingPage.css' %}?{% now "U" %}" />
<main>
    <form class="search-container container d-flex justify-content-center mt-5" method="GET" action="{% url 'submit_summoner' %}">
    {% csrf_token %}
        <div class="form-floating me-1" bis_skin_checked="1">
            <select class="form-select" id="region" name="region" required>
                <option>EUW</option>
                <option>EUNE</option>
                <option>NA</option>
            </select>
            <label for="floatingInput">Region</label>
        </div>
        <div class="form-floating " bis_skin_checked="1">
            <input type="text" class="form-control rounded-start" id="floatingInputName" name="summoner_name" placeholder="Summoner Name" maxlength="16" required>
            <label for="floatingInput">Summoner Name</label>
        </div>
        <div class="form-floating " bis_skin_checked="1">
            <input type="text" class="form-control rounded-end" id="floatingInputTag" name="summoner_tag" placeholder="Tag" maxlength="5" required oninput="this.value = this.value.toUpperCase()">
            <label for="floatingInput">Tag</label>
        </div>
        <button type="submit" class="btn fw-bold">Submit</button>
    </form>
</main>
{% endblock %}
