#matchHistoryContainer > div {
    background-color: #31313c;
}

#matchHistoryContainer > div > p {
    margin-bottom: 0.5rem;
}

/* .match */
#matchHistoryContainer .match {
    height: 80px;
    padding-left: 0.75rem;
}

#matchHistoryContainer .match > small {
    display: none;
    font-size: 12px !important;
    padding-bottom: 0;
    margin-bottom: -0.1rem;
    border-bottom-color: #5c7e77 !important;
    width: 70%;
}

#matchHistoryContainer .match small {
    font-size: 13px;
}

#matchHistoryContainer .match > div {
    width: inherit;
    height: inherit;
}

#matchHistoryContainer .match > div > div {
    margin-right: 1rem;
}

#matchHistoryContainer .match .decoration {
    width: 6px;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

/* .match-info */
#matchHistoryContainer .match-info {
    width: 100px;
}

#matchHistoryContainer .match-info p {
    margin-bottom: 0;
    font-size: 15px;
    font-weight: 600;
}

#matchHistoryContainer .match-info > hr {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: 75%;
}

/* .match-player-champ */
#matchHistoryContainer .match-player-champ-info {
    width: 64px;
    height: 64px;
    position: relative;
}

#matchHistoryContainer .match-player-champ-rune-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchHistoryContainer .match-player-champ-rune {
    width: 100%;
    height: auto;
}

#matchHistoryContainer .match-player-champ-icon {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

#matchHistoryContainer .match-player-champ-level {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px;
    height: 24px;
    margin: 0;
    background-color: #28344e;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchHistoryContainer .match-player-champ-sum-spell {
    height: 30px;
    width: 30px;
    object-fit: cover;
}

/* .match-player-stats */
#matchHistoryContainer .match-player-stats {
    min-width: 97px;
}

/* .match-player-items */
#matchHistoryContainer .match-player-items > div {
    gap: 0.1rem;
}

#matchHistoryContainer .match-player-item-container {
    width: 32px;
    height: 32px;
    background-color: #31313c;
    display: flex;
    justify-content: center;
    align-items: center;
}

#matchHistoryContainer .match-player-item {
    width: 100%;
    height: auto;
}

/* .match-team-comp */
#matchHistoryContainer .match-team-comp-icon {
    width: 32px;
    height: 32px;
    padding: 0;
    display: flex;
    flex-direction: column;
    object-fit: cover;
}

/* .match-player-analysis */
#matchHistoryContainer .match-player-analysis {
    height: 50.9px;
    margin-right: 2.5rem !important;
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
}

#matchHistoryContainer .match-player-analysis-text-container {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden; /* Hide overflow */
}

#matchHistoryContainer .match-player-analysis-text-container > small {
    background-color: #eb9c00;
    padding-bottom: 0.1rem;
    overflow: hidden; /* Hide overflow */
    width: max-content;
}

#matchHistoryContainer .match-player-analysis .multikill {
    background-color: #e84057;
}

/* .match-buttons */
#matchHistoryContainer button {
    border: 0;
}

#matchHistoryContainer .btn-review {
    height: 24px;
    width: 85px;
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
}

#matchHistoryContainer .btn-review svg {
    margin-top: 2px;
}

#matchHistoryContainer .btn-overview {
    height: 36px;
    width: 36px;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0;
}

#matchHistoryContainer .background-defeat .btn-overview {
    background-color: #e840575e;
}

#matchHistoryContainer .background-win .btn-overview {
    background-color: #2deb9047;
}

#matchHistoryContainer .btn-review {
    background-color: #ffc107c7;
}

#matchHistoryContainer .match-overview {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 300px;
    background-color: red;
}

#matchHistoryContainer .team-blue {
    display: flex;
    flex-direction: column;
}

#matchHistoryContainer .team-blue > div {
    display: flex;
    flex-direction: row;
}

#matchHistoryContainer .team-red {
    display: flex;
    flex-direction: column;
}

#matchHistoryContainer .team-red > div {
    display: flex;
    flex-direction: row;
}

@media (max-width: 1499px) {
    #matchHistoryContainer .match > div > div {
        margin-right: 0.5rem;
    }

    #matchHistoryContainer .match-info {
        margin-right: 0 !important;
    }

    #matchHistoryContainer .match-player-champ-info {
        width: 60px;
        height: 60px;
    }

    #matchHistoryContainer .match-player-champ-sum-spell {
        height: 28px;
        width: 28px;
    }

    #matchHistoryContainer .match-player-item-container {
        width: 30px;
        height: 30px;
    }

    #matchHistoryContainer .match-team-comp-icon {
        width: 30px;
        height: 30px;
    }
}

@media (max-width: 1499px) and (min-width: 1400px) {
    #matchHistoryContainer .match-player-analysis {
        margin-top: 1.75rem;
        height: calc(100% - 1.75rem);
    }
}

@media (max-width: 1399px) {
    #matchHistoryContainer .match > small {
        display: block;
    }

    #matchHistoryContainer .match {
        height: 86px;
    }

    #matchHistoryContainer .match-info {
        display: none !important;
    }

    #matchHistoryContainer .match-player-champ-info {
        width: 56px;
        height: 56px;
    }

    #matchHistoryContainer .match-player-champ-sum-spell {
        height: 26px;
        width: 26px;
    }

    #matchHistoryContainer .match-player-stats .separator {
        display: none;
    }

    #matchHistoryContainer .match-player-item-container {
        width: 28px;
        height: 28px;
    }

    #matchHistoryContainer .match-team-comp-icon {
        width: 28px;
        height: 28px;
    }
}

@media (max-width: 1199px) {
    #matchHistoryContainer .match-player-items {
        display: none;
    }

    #matchHistoryContainer .match-team-comp-icon {
        width: 26px;
        height: 26px;
    }
}

@media (max-width: 1075px) and (min-width: 992px) {
    #matchHistoryContainer .match-player-champ-info {
        width: 52px;
        height: 52px;
    }

    #matchHistoryContainer .match-player-champ-sum-spell {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 991px) {
    #matchHistoryContainer .match-player-items {
        display: block;
    }
}

@media (max-width: 767px) {
    #matchHistoryContainer .match-player-items {
        display: none;
    }
}

@media (max-width: 625px) and (min-width: 576px) {
    #matchHistoryContainer .match-player-champ-info {
        width: 52px;
        height: 52px;
    }

    #matchHistoryContainer .match-player-champ-sum-spell {
        height: 24px;
        width: 24px;
    }
}

@media (max-width: 575px) {
    #matchHistoryContainer .match-team-comp {
        display: none;
    }
}
