main #form-summoner {
    background-color: #31313c;
    width: fit-content;
    border-radius: 50px;
    padding: 10px 30px;
}

main #form-summoner #region {
    width: 95px;
}

main #form-summoner .search-container .form-desktop-name {
    width: 125%;
}

main #form-summoner .search-container .form-desktop-tag {
    width: 75%;
}

main #form-summoner .form-select {
    border: none;
}

main #form-summoner .form-control {
    border: none;
    border-radius: 0;
}

main #form-summoner .search-container .form-mobile {
    width: 100%;
}

@media (max-width: 991px) {
    main #form-summoner {
        background-color: inherit;
        width: 100%;
    }

    main #form-summoner .search-container {
        background-color: #31313c;
        border-radius: 50px;
        padding: 10px 30px;
        z-index: 1;
    }

    main #form-summoner button {
        position: relative;
        z-index: 0;
    }

    /* Add styling for the half-moon background on the button */
    main #form-summoner button::before {
        content: "";
        position: absolute;
        width: 225%;
        height: 300%;
        background: conic-gradient(from 90deg, #31313c 50%, transparent 50%);
        border-radius: 50%;
        z-index: -1;
        left: -62.5%;
        top: -152%;
    }
}

@media (max-width: 767px) {
    main #form-summoner .search-container {
        width: 100%;
    }
}
