main #region {
    width: 95px;
}

main #region-mobile {
    width: 95px;
}

main .form-desktop {
    background-color: #31313c;
    width: fit-content;
    border-radius: 50px; 
    padding: 10px 30px; 
}

main .form-mobile {
    display: none !important;
}

main .search-container .form-desktop-name {
    width: 125%;
}

main .search-container .form-desktop-tag {
    width: 75%;
}

main .form-control {
    border: none;
    border-radius: 0;
}

main .form-select {
    border: none;
}

main .search-container .form-mobile {
    display: none;
    width: 100%;
}

@media (max-width: 991px) {
    main .form-desktop {
        background-color: inherit;
        width: 100%;
    }

    main .search-container {
        background-color: #31313c;
        border-radius: 50px; 
        padding: 10px 30px; 
        z-index: 100;
    }

    /* Add styling for the half-moon background on the button */
    main .container button::before {
        content: '';
        position: absolute;
        width: 225%;
        height: 300%;
        background: conic-gradient(from 90deg, #31313c 50%, transparent 50%);
        border-radius: 50%;
        z-index: -1;
        left: -62.5%;
        top: -152%;
    }

    main .container button {
        position: relative;
        z-index: 1;
    }
}

@media (max-width: 767px) {
    main .form-desktop {
        display: none !important;
    }

    main .form-mobile {
        display: flex !important;
    }

    main .search-container {
        width: 100%;
    }
}