#summonerHeader {
    background-color: #31313c;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
}

#personalInfoContainer {
    background-color: #31313c;
}

#personalInfoContainer > hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

#matchHistoryContainer {
    background-color: #31313c;
}

#matchHistoryContainer > p {
    margin-bottom: 0.5rem;
}

#matchHistoryContainer > hr {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

main .league-rank-img-container {
    overflow: hidden; /* Ensure the clipped portion is hidden */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

main .img-soloq {
    width: 160px;
    height: 160px;
}

main .img-flexq {
    margin-left: 0.75rem;
    width: 80px;
    height: 80px;
}

main .league-rank-img {
    height: 225%;
    object-fit: cover;
}

main .profile-icon {
    width: 64px;
    height: 64px;
    object-fit: fill;
}

#summonerHeader .col {
    padding-left: 0;
}

#summonerHeader h4 {
    margin-bottom: 0;
}

#summonerHeader small {
    margin-bottom: 0;
}

#summonerRankedSoloQ h3 {
    font-size: 22px;
    margin-bottom: 0;
}

#summonerRankedFlex h3 {
    font-size: 15px;
    margin-bottom: 0;
}

#summonerRankedFlex small {
    font-size: 13px;
}

#summonerRankedSoloQ .win-rate {
    font-size: 13px;
}

.decoration {
    width: 6px;
    height: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
}

.decoration-win {
    background-color: #2DEB90;
}

.decoration-defeat {
    background-color: #e84057;
}

.match-history-container {
    width: 64px;
    height: 64px;
    position: relative;
}

.match-history-player-icon {
    object-fit: fill;
    height: 100%;
    width: 100%;
}

.match-history-team-icon {
    width: 28px;
    height: 28px;
    z-index: 10000;
}

.match-history-level {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 24px; /* Set the width */
    height: 24px; /* Set the height */
    margin: 0;
    background-color: #28344e; /* Add background color for better visibility */
    color: white; /* Set text color */
    border-radius: 50%; /* Make it round */
    display: flex; /* Add flexbox to center text */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#matchHistoryContainer .container {
    height: 72px;
}

.btn-review {
    padding-top: 0 !important;
    padding-bottom: 2px !important;
}

.match-history-options {
    height: 72px;
}