{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'summoner.css' %}?{% now "U" %}" />
    <main>
        <div class="container mt-5">
            <h1>{{ summoner_info.0.summonerName }}#{{ region }}</h1>
            <p>Level: {{ account_info.level }}</p>
            <p>Soloqueue: {{ summoner_info.0.tier }} {{ summoner_info.0.rank }} </p>
            <p>Wins: {{ summoner_info.0.wins }} | Defeats: {{ summoner_info.0.losses }}</p>
        </div>
    </main>
{% endblock %}
