{% extends 'base.html' %}
{% block title %}
{% if ranked_info.0.tier == 'unranked' and ranked_info.1.tier == 'unranked' %}
    {{ summoner_info.name }}#{{ summoner_info.tag }} - 
{% elif ranked_info.0.tier == 'unranked' %}
    {{ ranked_info.1.summonerName }}#{{ summoner_info.tag }} - 
{% else %}
    {{ ranked_info.0.summonerName }}#{{ summoner_info.tag }} - 
{% endif %}{% endblock %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'summoner.css' %}?{% now "U" %}" />
    <main class="container-fluid mt-2">
        <!-- Summoner Header -->
        <div class="container-fluid row align-items-center flex-nowrap mb-3 py-2 rounded-3" id="summonerHeader">
            <div class="col-auto">
                <img class="profile-icon rounded-3" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/profile-icons/{{ summoner_info.iconId }}.jpg" />
            </div>
            <div class="col truncate">
                <h4 class="truncate">
                    {% if ranked_info.0.tier == 'unranked' and ranked_info.1.tier == 'unranked' %}
                        {{ summoner_info.name }}#{{ summoner_info.tag }} ({{ region }})
                    {% elif ranked_info.0.tier == 'unranked' %}
                        {{ ranked_info.1.summonerName }}#{{ summoner_info.tag }} ({{ region }})
                    {% else %}
                        {{ ranked_info.0.summonerName }}#{{ summoner_info.tag }} ({{ region }})
                    {% endif %}
                </h4>
                <small class="truncate">Level: {{ summoner_info.level }}</small>
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-warning">
                    Update
                    <span><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-repeat" viewBox="0 0 16 16">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                        <path fill-rule="evenodd" d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                    </svg></span>
                </button>
            </div>
        </div>
        <div class="d-flex flex-lg-row flex-column gap-3">
            <!-- Summoner Personal Rating-->
            <div class="col-auto" id="personalInfoContainer">
                <div class="container-fluid container-lg rounded-4">
                    <p class="border-bottom pt-1 ps-2 fw-light">Personal Ratings</p>
                    <div class="d-flex flex-lg-column flex-md-row flex-column justify-content-around">
                        <!-- Solo Queue -->
                        {% if ranked_info.0.tier == 'unranked' %}
                        <p class="fw-light unranked-soloq ps-3">Ranked Solo: <small>Unranked</small></p>
                        {% else %}
                        <div class="row" id="summonerRankedSoloQ">
                            <div class="col-auto league-rank-img-container">
                                <img class="league-rank-img" src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-emblem/emblem-{{ ranked_info.0.tier|lower }}.png" alt="SoloQ Tier">
                            </div>
                            <div class="col d-flex flex-column">
                                <h3>{{ ranked_info.0.tier }} {{ ranked_info.0.rank }} </h3>
                                <small class="fw-light mb-3">Soloqueue</small>                                
                                <small class="fw-light">LP: {{ ranked_info.0.leaguePoints }}</small>
                                <small class="fw-light mb-1">Wins: <span class="font-color-win">{{ ranked_info.0.wins }}</span> - Defeats: <span class="font-color-defeat">{{ ranked_info.0.losses }}</span></small>
                                <small class="fw-light win-rate">WR: {{ ranked_info.0.winRate }}%</small>
                            </div>
                        </div>
                        {% endif %}
                        <div class="vertical-separator"></div>
                        <hr>
                        <!-- Flex Queue -->
                        {% if ranked_info.1.tier == 'unranked' %}
                        <p class="fw-light unranked-flex ps-3 pt-2 pb-2">Ranked Flex: <small>Unranked</small></p>
                        {% else %}
                        <div class="row pb-2" id="summonerRankedFlex">
                            <div class="col-auto league-rank-img-container">
                                <img class="league-rank-img" src="https://raw.communitydragon.org/latest/plugins/rcp-fe-lol-static-assets/global/default/images/ranked-emblem/emblem-{{ ranked_info.1.tier|lower }}.png" alt="SoloQ Tier">
                            </div>
                            <div class="col d-flex flex-lg-row flex-column">
                                <div class="col-auto d-flex flex-column me-3">
                                    <h3>{{ ranked_info.1.tier }} {{ ranked_info.1.rank }}</h1>
                                    <small class="fw-light mb-2">Ranked Flex</small>
                                    <small class="fw-light">LP: {{ ranked_info.1.leaguePoints }}</small>
                                </div>
                                <div class="col d-flex flex-column">
                                    <small class="fw-light">Wins: <span class="font-color-win">{{ ranked_info.1.wins }}</span></small>
                                    <small class="fw-light mb-2">Defeats: <span class="font-color-defeat">{{ ranked_info.1.losses }}</span></small>
                                    <small class="fw-light">WR: {{ ranked_info.1.winRate }}%</small>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <!-- Match History -->
            <div class="col" id="matchHistoryContainer">
                <div class="container-fluid rounded-4 pt-1 pb-2" >
                    <p class="border-bottom ps-2 fw-light">Recent Games</p>
                    <div class="rounded-1 d-flex flex-column gap-2">
                        <!-- Match -->
                        {% for player_match_data, match_data in matches_data %}
                        <div class="match-container d-flex flex-column">
                            <div class="match overflow-hidden position-relative d-flex flex-column justify-content-center pe-0 rounded-1 {% if player_match_data.win %}background-win{% else %}background-defeat{% endif %}">
                                <small class="truncate border-bottom">{{ player_match_data.gameMode }} - {{ player_match_data.timeSinceGameEnd }} ago</small>
                                <div class="d-flex flex-row align-items-center flex-nowrap mx-0">
                                    <div class="decoration {% if player_match_data.win %}decoration-win{% else %}decoration-defeat{% endif %}"></div>
                                    <!-- Match Information -->
                                    <div class="d-flex flex-column match-info ps-0">
                                        <p class="truncate">{{ player_match_data.gameMode }}</p>
                                        <small class="truncate fw-light">{{ player_match_data.timeSinceGameEnd }} ago</small>
                                        <hr>
                                        <small class="truncate fw-light">{{ player_match_data.gameDuration }}</small>
                                    </div>
                                    <!-- Player Champion -->
                                    <div class="col-auto d-flex flex-row match-player-champ">
                                        <div class="match-player-champ-info text-center">
                                            <div class="match-player-champ-rune-container">
                                                <img class="match-player-champ-rune" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/{{ player_match_data.primaryRune }}" />
                                            </div>
                                            <img class="match-player-champ-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ player_match_data.championId }}.png" />
                                            <p class="match-player-champ-level">{{ player_match_data.level }}</p>
                                        </div>
                                        <div class="ms-1 d-flex flex-column justify-content-between">
                                            <img class="match-player-champ-sum-spell rounded-2" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/{{ player_match_data.summoner1Id }}.png" />
                                            <img class="match-player-champ-sum-spell rounded-2" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/data/spells/icons2d/{{ player_match_data.summoner2Id }}.png" />
                                        </div>
                                    </div>
                                    <!-- Player Stats -->
                                    <div class="col-auto match-player-stats">
                                        <small class="truncate">{{ player_match_data.cs }} CS <span class="separator">-</span><span class="font-color-defeat"> KP {{ player_match_data.killParticipation }}%</span></small>
                                        <p class="truncate fw-bolder m-0">{{ player_match_data.kills }} / <span class="font-color-defeat">{{ player_match_data.deaths }}</span> / {{ player_match_data.assists }}</p>
                                        <small class="truncate">{{ player_match_data.kda }} KDA</small>
                                    </div>
                                    <!-- Player Items -->
                                    <div class="col match-player-items">
                                        <div class="d-flex flex-row">
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item1 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item1 }}" alt="Item Slot 1">
                                                {% endif %}
                                            </div>
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item2 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item2 }}" alt="Item Slot 2">
                                                {% endif %}
                                            </div>
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item3 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item3 }}" alt="Item Slot 3">
                                                {% endif %}
                                            </div>
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item7 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item7 }}" alt="Trinket Slot">
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="d-flex flex-row">
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item4 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item4 }}" alt="Item Slot 4">
                                                {% endif %}
                                            </div>
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item5 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item5 }}" alt="Item Slot 5">
                                                {% endif %}
                                            </div>
                                            <div class="match-player-item-container rounded">
                                                {% if player_match_data.item6 %}
                                                <img class="match-player-item rounded" src="{{ player_match_data.item6 }}" alt="Item Slot 6">
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Team Compositions -->
                                    <div class="col match-team-comp">
                                        <div class="d-flex flex-row mx-0">
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.0.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.1.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.2.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.3.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.4.championId }}.png" />
                                        </div>
                                        <div class="d-flex flex-row mx-0">
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.5.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.6.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.7.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.8.championId }}.png" />
                                            <img class="match-team-comp-icon rounded-5" src="https://raw.communitydragon.org/latest/plugins/rcp-be-lol-game-data/global/default/v1/champion-icons/{{ match_data.info.participants.9.championId }}.png" />
                                        </div>
                                    </div>
                                    <!-- Player Analysis -->
                                    <div class="col match-player-analysis pe-0">
                                        <div class="match-player-analysis-text-container d-flex flex-column gap-1">
                                            <small class="rounded-4 px-2">MVP</small>
                                            <small class="rounded-4 px-2">Double Kill</small>
                                        </div>
                                    </div>
                                    <!-- Button Review -->
                                    <button type="button" class="btn btn-warning btn-review d-flex justify-content-center align-items-center">
                                        <span class="ms-2">Review</span>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-chevron-double-right" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708"/>
                                            <path fill-rule="evenodd" d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </button>
                                    <!-- Button Match Overview -->
                                    <button type="button" class="btn btn-secondary btn-overview d-flex justify-content-center align-items-center ms-auto mt-auto" onclick="toggleMatchOverview(this)">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down mt-1" viewBox="0 0 16 16">
                                            <path d="M3.204 5h9.592L8 10.481zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659"/>
                                        </svg>
                                    </button>
                                </div>
                            </div>
                            <!-- Match Overview | Hidden by default -->
                            <div class="match-overview rounded-1 mt-1">
                                <div class="team-blue">
                                    <div class="d-flex flex-row">
                                        <p></p>
                                    </div>
                                </div>
                                <div class="team-red">
                                    <div class="d-flex flex-row">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% block scripts %}
                    <script>
                        function toggleMatchOverview(button) {
                            var matchContainerElement = $(button).closest('.match-container');
                            // Find the hidden element inside the .match element
                            var hiddenElement = matchContainerElement.find('.match-overview');

                            // Toggle the display of the hidden element
                            if (hiddenElement.css('display') === 'none') {
                                hiddenElement.css('display', 'flex');
                                
                                $.ajax({
                                    type: "GET",
                                    url: "{% url 'update_summoner_match' %}",
                                    success: function(response) {
                                        console.log(response)
                                        // Populate team blue elements
                                        $('.team-blue p').html(response.team_blue_html);
                                        
                                        // Populate team red elements
                                        $('.team-red p').html(response.team_red_html);

                                        // Example: Update frontend with new information
                                        // $('#element_id').text(response.example_key);
                                    },
                                    error: function(xhr, errmsg, err) {
                                        console.log(xhr.status + ": " + xhr.responseText);
                                    }
                                });
                            } else {
                                hiddenElement.css('display', 'none');
                            }
                        }
                    </script>
                    {% endblock %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}
