body, html {
    overflow-x: clip;
}

html {
    background-image: url('images/dark-background.jpg');
    background-size: cover;
    background-position: center;
}

body {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.font-color-win {
    color: #2DEB90;
}

.font-color-defeat {
    color: #ff5859;
}

.background-win {
    background-color: #28344e;
}

.background-defeat {
    background-color: #59343b;
}
