body, html {
    overflow-x: clip;
}

html {
    background-image: url('images/dark-background.jpg');
    background-size: cover;
    background-position: center;
}

body {
    width: 80% !important;
    max-width: 1320px;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.font-color-win {
    color: #2DEB90;
}

.font-color-defeat {
    color: #ff5859;
}

.background-win {
    background-color: #2cffa636;
}

.background-defeat {
    background-color: #59343b;
}

.decoration-win {
    background-color: #2DEB90;
}

.decoration-defeat {
    background-color: #e84057;
}

.truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    display: block;
}

@media (max-width: 575px) {
    body {
        width: 100% !important;
    }
    
    main {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}