#matchHistoryContainer .match-overview table {
    width: 100%;
    table-layout: auto; /* Set table layout to auto */
}

#matchHistoryContainer .match-overview table .w-1300 {
    display: none;
}

#matchHistoryContainer .match-overview .team-blue {
    border-top-left-radius: var(--bs-border-radius);
    border-top-right-radius: var(--bs-border-radius);
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-color: #2f436e;
}

#matchHistoryContainer .match-overview .team-red {
    border-bottom-right-radius: var(--bs-border-radius);
    border-bottom-left-radius: var(--bs-border-radius);
    border-top-width: 1px;
    border-top-style: solid;
    border-color: #703c47;
}

#matchHistoryContainer .match-overview .separator {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #1c1c1f;
    background-color: #282830;
}

#matchHistoryContainer .match-overview .separator .match-data {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 1.25rem;
}

#matchHistoryContainer .match-overview .separator .match-data .kills {
    display: flex;
    flex-direction: row;
}

#matchHistoryContainer .match-overview .separator .match-data .progress {
    position: relative;
    width: 100%;
    background-color: #e84057;
}

#matchHistoryContainer .match-overview .separator .match-data .progress span {
    position: absolute;
    height: 100%;
    background-color: #5383e8;
    top: 0;
    left: 0;
}

#matchHistoryContainer .match-overview .separator .match-data .progress > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    z-index: 1;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
}

#matchHistoryContainer .match-overview .separator .team-data {
    display: flex;
    flex-direction: column;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#matchHistoryContainer .match-overview .separator .team-data.blue {
    padding-right: 0.25rem;
    padding-left: 1.5rem;
}

#matchHistoryContainer .match-overview .separator .team-data.red {
    padding-right: 1.25rem;
    padding-left: 0.25rem;
}

#matchHistoryContainer .match-overview .separator .team-data > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#matchHistoryContainer .match-overview .separator .team-data > div > div {
    width: 44px;
}

#matchHistoryContainer .match-overview .separator .team-data.blue > div > div > svg {
    color: rgb(83, 131, 232);
}

#matchHistoryContainer .match-overview .separator .team-data.red > div > div > svg {
    color: rgb(232, 64, 87);
}

#matchHistoryContainer .match-overview .team-blue .player {
    background-color: #2f436e;
}

#matchHistoryContainer .match-overview .team-blue .player:hover {
    background-color: #334977;
}

#matchHistoryContainer .match-overview .team-red .player {
    background-color: #703c47;
}

#matchHistoryContainer .match-overview .team-red .player:hover {
    background-color: #7a414e;
}

#matchHistoryContainer .match-overview table tbody td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-size: 13px;
}

/* .champion */
#matchHistoryContainer .match-overview tbody .champion .img-container {
    position: relative;
}

#matchHistoryContainer .match-overview tbody .champion img {
    width: 32px;
    height: 32px;
}

#matchHistoryContainer .match-overview tbody .champion .level {
    position: absolute;
    left: -3px;
    bottom: -3px;
    width: 15px;
    height: 15px;
    background: rgb(32, 45, 55);
    border-radius: 50%;
    color: rgb(255, 255, 255);
    font-size: 10px;
    text-align: center;
}

/* .spells */
#matchHistoryContainer .match-overview tbody .spells > div {
    display: flex;
    flex-direction: column;
}

#matchHistoryContainer .match-overview tbody .spells img {
    width: 16px;
    height: 16px;
}

/* .runes */
#matchHistoryContainer .match-overview tbody .runes > div {
    display: flex;
    flex-direction: column;
}

#matchHistoryContainer .match-overview tbody .runes img {
    width: 16px;
    height: 16px;
}

/* .name */
#matchHistoryContainer .match-overview colgroup .name {
    min-width: 20%;
}

#matchHistoryContainer .match-overview tbody .name a .tier > span {
    background-color: darkcyan;
    color: #fff;
    padding-left: 3px;
    padding-right: 3px;
}

#matchHistoryContainer .match-overview tbody .name {
    position: relative;
    min-width: 55px;
    height: 34px;
}

#matchHistoryContainer .match-overview tbody .name > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    height: 100%;
    top: 1px;
    left: 0;
    width: max-content;
    align-items: start;
}

#matchHistoryContainer .match-overview tbody .name > div > a {
    text-decoration: none;
    color: inherit;
}

#matchHistoryContainer .match-overview tbody .name > div > a:hover {
    text-decoration: underline;
}

#matchHistoryContainer .match-overview tbody .name > div > small.tier {
    color: #9e9eb1;
}

/* .score */
#matchHistoryContainer .match-overview tbody .score > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#matchHistoryContainer .match-overview tbody .score .score {
    font-size: 14px;
    width: 20px;
}

#matchHistoryContainer .match-overview tbody .score .rank {
    background-color: #9e9eb1;
    color: rgb(255, 255, 255);
    width: 35px;
    padding-left: 0.35rem;
    padding-right: 0.35rem;
    margin-left: 0.5rem;
}

/* .kda */
#matchHistoryContainer .match-overview tbody .kda > div {
    display: flex;
    flex-direction: column;
    text-align: center;
}

/* .damage */
#matchHistoryContainer .match-overview tbody .damage > div {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#matchHistoryContainer .match-overview tbody .damage > div > div {
    width: 42px;
    padding-bottom: 0.25rem;
}

#matchHistoryContainer .match-overview tbody .damage .progress {
    height: 8px;
    background-color: #31313c;
}

/* Manages both .progress in .items and in .damage */
#matchHistoryContainer .match-overview tbody .progress {
    position: relative;
    font-size: 11px;
}

#matchHistoryContainer .match-overview tbody .damage .progress {
    height: 8px;
}

/* Manages both .progress in .items and in .damage */
#matchHistoryContainer .match-overview tbody .dealt .progress .fill {
    background-color: #e84057;
}

/* Manages both .progress in .items and in .damage */
#matchHistoryContainer .match-overview tbody .taken .progress .fill {
    background-color: #7b7a8e;
}

#matchHistoryContainer .match-overview tbody .progress span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#matchHistoryContainer .match-overview tbody .damage .progress span {
    display: none;
}

/* .wards */
#matchHistoryContainer .match-overview tbody .wards > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .cs */
#matchHistoryContainer .match-overview tbody .cs > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .items */
#matchHistoryContainer .match-overview tbody .items > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
}

#matchHistoryContainer .match-overview tbody .items .items-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#matchHistoryContainer .match-overview tbody .items .items-container > div {
    background-color: #31313c;
    display: flex;
    width: 22px;
    height: 22px;
    margin-right: 0.05rem;
}

#matchHistoryContainer .match-overview tbody .items .items-container img {
    width: 100%;
    height: auto;
}

#matchHistoryContainer .match-overview tbody .items .damage-container {
    display: none;
    justify-content: center;
    flex-direction: row;
    width: 150px;
}

#matchHistoryContainer .match-overview tbody .items .damage-container > div {
    width: calc(50% - 0.125rem);
}

#matchHistoryContainer .match-overview tbody .items .damage-container .progress {
    height: 12px;
}

#matchHistoryContainer .match-overview tbody .items .cs-container {
    display: none;
}

@media (max-width: 1299px) {
    #matchHistoryContainer .match-overview table .w-1300 {
        display: inline;
    }

    #matchHistoryContainer .match-overview tbody .name > div > small.tier {
        display: none;
    }

    #matchHistoryContainer .match-overview .kda {
        display: none;
    }

    #matchHistoryContainer .match-overview table tbody .score .score {
        font-size: 13px;
    }

    #matchHistoryContainer .match-overview .damage {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .items .damage-container {
        display: flex;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    #matchHistoryContainer .match-overview tbody .score .score {
        display: none;
    }

    #matchHistoryContainer .match-overview .damage {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .items .damage-container {
        display: flex;
    }
}

@media (max-width: 1099px) and (min-width: 992px) {
    #matchHistoryContainer .match-overview .wards {
        display: none;
    }

    #matchHistoryContainer .match-overview .separator .match-data .progress {
        display: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    #matchHistoryContainer .match-overview colgroup .damage {
        display: table-column;
    }

    #matchHistoryContainer .match-overview .overview-player .damage {
        display: table-cell;
    }

    #matchHistoryContainer .match-overview tbody .items .damage-container {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .damage > div {
        flex-direction: column;
        align-items: center;
        gap: 0.25rem;
    }

    #matchHistoryContainer .match-overview tbody .damage > div > div {
        padding-bottom: 0;
        width: 55px;
    }

    #matchHistoryContainer .match-overview tbody .damage .progress {
        height: 12px;
        min-width: 50px;
    }

    #matchHistoryContainer .match-overview tbody .damage .progress span {
        display: block;
    }

    #matchHistoryContainer .match-overview tbody .damage small {
        display: none;
    }
}

@media (max-width: 767px) {
    #matchHistoryContainer .match-overview tbody .score .score {
        display: none;
    }

    #matchHistoryContainer .match-overview .damage {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .items .damage-container {
        display: flex;
    }
}

@media (max-width: 725px) {
    #matchHistoryContainer .match-overview .separator .match-data .progress {
        display: none;
    }
}

@media (max-width: 649px) {
    #matchHistoryContainer .match-overview colgroup .name {
        min-width: 25%;
    }

    #matchHistoryContainer .match-overview .wards {
        display: none;
    }
}

@media (max-width: 500px) {
    #matchHistoryContainer .match-overview colgroup .name {
        min-width: 30%;
    }

    #matchHistoryContainer .match-overview .cs {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .items .damage-container {
        display: none;
    }

    #matchHistoryContainer .match-overview tbody .items .cs-container {
        display: flex;
    }
    #matchHistoryContainer .match-overview .separator .match-data {
        padding-left: 0;
        padding-right: 0.75rem;
    }
    #matchHistoryContainer .match-overview .separator .team-data.blue {
        padding-left: 0.75rem;
    }

    #matchHistoryContainer .match-overview .separator .team-data.red {
        padding-right: 0;
    }
}

@media (max-width: 400px) {
    #matchHistoryContainer .match-overview tbody .items .items-container > div {
        width: 18px;
        height: 18px;
    }
}

@media (max-width: 350px) {
    #matchHistoryContainer .match-overview tbody .items {
        display: none;
    }

    #matchHistoryContainer .match-overview colgroup .name {
        min-width: 50%;
    }

    #matchHistoryContainer .match-overview tbody .name {
        min-width: 0;
    }
}
