body,
html,
body > div {
    overflow-x: clip;
}

html {
    background-image: url("./assets/images/dark-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

body {
    width: 80% !important;
    max-width: 1320px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    font-family: "Roboto", sans-serif;
}

.error-popup-container {
    position: absolute;
    left: 0;
    animation: slideIn 1s forwards; /* Define the animation */
    z-index: 100;
    width: 100%;
}

.error-popup {
    background-color: #ff5859;
    width: fit-content;
}

@keyframes slideIn {
    from {
        top: -10%; /* Start from the top of the screen */
    }
    to {
        top: 4%; /* End at 10% from the top */
    }
}

.error-popup > p {
    margin-bottom: 0.1rem;
}

.error-popup > button {
    width: 38px;
    border-radius: inherit;
    background-color: inherit;
    border: none;
}

.error-popup > button > svg {
    margin-top: 0.1rem;
}

.font-color-win {
    color: #2deb90;
}

.font-color-defeat {
    color: #ff5859;
}

.background-remake {
    background-color: #282830;
}

.background-remake:hover {
    background-color: #212127;
}

.background-win {
    background-color: #2cffa636;
}

.background-win:hover {
    background-color: #2cffa640;
}

.background-defeat {
    background-color: #59343b;
}

.background-defeat:hover {
    background-color: #643a42;
}

.decoration-remake {
    background-color: #9e9eb1;
}

.decoration-win {
    background-color: #2deb90;
}

.decoration-defeat {
    background-color: #e84057;
}

.team-blue {
    background-color: #28344e;
}

.team-red {
    background-color: #59343b;
}

.team-blue tbody tr:hover {
    background-color: #2c3955;
}

.team-red tbody tr:hover {
    background-color: #643a42;
}

.truncate {
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
}

.summoner-tag {
    color: #9e9eb1;
}

@keyframes spin {
    0% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(405deg);
    }
}

.spin-animation {
    animation: spin 1.5s linear infinite;
}

@media (max-width: 575px) {
    body {
        width: 100% !important;
    }

    main {
        padding-left: 0.5rem !important;
        padding-right: 0.5rem !important;
    }
}
