#personalRating > div {
    background-color: #31313c;
    min-width: 300px;
}

#personalRating > div > div > hr {
    margin-top: 0;
    margin-bottom: 1rem;
    height: inherit;
}

#personalRating .league-rank-img-container {
    overflow: hidden; /* Ensure the clipped portion is hidden */
    display: flex; /* Use flexbox for centering */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

#personalRating .league-rank-img {
    height: 200%;
    object-fit: cover;
    overflow: hidden;
}

#personalRating .vertical-separator {
    display: none;
    border-left: 1px solid var(--bs-border-color); /* Customize separator style */
    height: inherit; /* Set height to match the height of the flex items */
    margin-bottom: 1rem;
}

/* #summonerRankedSoloQ */

#summonerRankedSoloQ .league-rank-img-container {
    width: 160px;
    height: 160px;
    padding-right: 0px;
}

#summonerRankedSoloQ h3 {
    font-size: 19px;
    margin-bottom: 0;
}

#summonerRankedSoloQ .win-rate {
    font-size: 13px;
}

#summonerRankedSoloQ .league-rank-container > .col > div {
    display: flex;
    flex-direction: row;
}

/* #summonerRankedFlex */

#summonerRankedFlex .league-rank-img-container {
    width: 80px;
    height: 80px;
    padding-left: 0px;
    padding-right: 0px;
}

#summonerRankedFlex h3 {
    font-size: 15px;
    margin-bottom: 0;
}

#summonerRankedFlex small {
    font-size: 13px;
}

#summonerRankedFlex > .league-rank-container {
    display: flex;
    flex-direction: row;
}

#summonerRankedFlex .league-rank-container > .col-auto {
    margin-left: 0.5rem;
}

#summonerRankedFlex > .league-rank-container > .col {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
}

#summonerRankedFlex > .league-rank-container > .col > div {
    display: flex;
    flex-direction: column;
    margin-bottom: 0.38rem;
}

#summonerRankedFlex > .league-rank-container .wd-separator {
    display: none;
}

@media (min-width: 991px) {
    #personalRating > div {
        max-width: 350px;
    }
}

@media (max-width: 991px) {
    #personalRating .unranked-soloq {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }

    #personalRating > div > div > hr {
        display: none;
    }

    #personalRating .vertical-separator {
        display: block;
    }

    #summonerRankedSoloQ,
    #summonerRankedFlex {
        align-items: center;
    }

    #summonerRankedSoloQ .league-rank-img-container,
    #summonerRankedFlex .league-rank-img-container {
        width: 130px;
        height: 130px;
    }

    #summonerRankedSoloQ .league-rank-container,
    #summonerRankedFlex .league-rank-container {
        margin-left: 0.5rem;
    }

    #summonerRankedSoloQ h3,
    #summonerRankedFlex h3 {
        font-size: 19px;
    }

    #summonerRankedSoloQ small,
    #summonerRankedFlex small {
        font-size: 13px;
    }

    #summonerRankedSoloQ .wd-separator,
    #summonerRankedFlex .wd-separator {
        display: none;
    }

    #summonerRankedSoloQ > .league-rank-container > .col > div {
        display: flex;
        flex-direction: column;
    }

    /* #summonerRankedFlex */

    #summonerRankedFlex .league-rank-container {
        flex-direction: column;
        align-self: start;
    }

    #summonerRankedFlex > .league-rank-container > .col > div {
        margin-bottom: 0;
    }
    #summonerRankedFlex > .league-rank-container > .col {
        display: block;
    }
}

@media (max-width: 767px) {
    #personalRating .unranked-soloq {
        padding-bottom: 0;
    }

    #personalRating > div > div > hr {
        display: block;
    }

    #personalRating .vertical-separator {
        display: none;
    }

    /* #summonerRankedFlex */

    #summonerRankedFlex {
        padding-bottom: 0 !important;
    }

    #summonerRankedFlex .league-rank-img-container {
        width: 160px;
        height: 160px;
        order: 2;
    }

    #summonerRankedFlex .col {
        text-align: right;
        margin-right: 0.5rem;
    }

    #summonerRankedFlex .col > div {
        align-items: end;
    }
}
